Hirathiel/.vs/Hirathiel/v15/Browse.VC.opendb
Hirathiel/.vs/Hirathiel/v15/Browse.VC.db
Hirathiel/Debug/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Hirathiel/Debug/Hirathiel.pdb
Hirathiel/Debug/Hirathiel.ilk
Hirathiel/Debug/Hirathiel.exe
Hirathiel/Hirathiel/Debug/vc141.pdb
Hirathiel/Hirathiel/Debug/vc141.idb
Hirathiel/Hirathiel/Debug/Hirathiel.tlog/link.write.1.tlog
Hirathiel/Hirathiel/Debug/Hirathiel.tlog/link.read.1.tlog
Hirathiel/Hirathiel/Debug/Hirathiel.log
Hirathiel/Hirathiel/Debug/Game.obj
