Hirathiel/.vs/
Hirathiel/Debug/
Hirathiel/Hirathiel/Debug/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

Hirathiel/x64/Debug/
Hirathiel/Hirathiel/x64/Debug/
